* {
    box-sizing: border-box;
}

body {
    background: #E0E0E0;
}

#introContainer {
    background: #131313;
    width: 97vw;
    height: 96vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 25px;
}

#introContainer {
    background: #131313;
    width: 97vw;
    height: 96vh;
    margin: 1.5vh 1vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#topSlice {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #777777;
    position: relative;
}

#middleSlice {
    border-bottom: 1px solid #777777;
    /*flex-grow: 1; !* This will make the middle slice flexible, occupying additional space if necessary *!*/
}

/*#bottomSlice {*/
/*    flex-grow: 1; !* This will make the bottom slice fill the remaining space *!*/
/*    !*background: #333; !* Example background color *!*!*/
/*    border-bottom-left-radius: inherit;*/
/*    border-bottom-right-radius: inherit;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: white;*/
/*    font-family: "Inter";*/
/*}*/
#bottomSlice {
    flex-grow: 1; /* This will make the bottom slice fill the remaining space */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter";
    height: 10vh; /* Adjust this value to fit your design */
    overflow: hidden; /* Ensure anything overflowing gets hidden */
}
/* Center titleText in the middle horizontally with absolute positioning */
.titleText {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.6em;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

/* Adjust spacing and flex properties for children */
#logo1 {
    /* Apply the same gradient as #actionButton */
    background: linear-gradient(45deg, #6a0dad, #9b30ff, #3498db, #1e90ff);
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border-radius: 50%; /* Make it a circle */
}

#linkHolder {
    margin-left: auto;
    display: flex;
    padding-right: 20px;
}

#linkHolder div {
    display: inline-block;
    margin-left: 20px; /* Add some space between links */
}

#linkHolder a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-family: "Inter";

}

#bioIntro {
    font-family: "Inter";
    font-weight: 300;
    color: #fff;
    transition: 0.3s;

}

#bioIntro:hover {
    transition: 0.3s;
    transform: skew(1deg, -0.8deg); /* Skew the text on hover. */

}


/*#middleSlice {*/
/*    border-bottom: 1px solid #777777;*/
/*}*/

.bioBody {
    font-family: "Inter";
    /*color: #fff;*/
    font-size: 16px;
    font-weight: 300;
    color: #f5f5f5;
}

.bioBody > span {
    border-bottom: 1px solid white;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;

}

.bioBody > span:hover {
    opacity: 0.8;
    transition: 0.3s;
    /*border-bottom: 1px dashed white;*/

}

#midLeft {
    border-right: 1px solid #777777;
    padding: 50px;
}

#bioBodyContainer {
    margin-top: 30px;
}

#actionButton > i {
    margin-left: 15px;
    transition: 0.3s;
}



#actionButton:hover > i {
    transform:translateX(5px);

}

#actionButton {
    /*background: linear-gradient(90deg, #3957F1, #6ba1e3,#B076E7,#e2c5fc);*/
    /*background: linear-gradient(90deg, #db6071, #e32b44, #cc218a, #d63eba);*/

    background: linear-gradient(90deg, #6a0dad, #9b30ff, #3498db, #1e90ff);

    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    margin-top: 15px;


}

#actionButton:hover {
    filter: brightness(1.15);
    transition: 0.3s;
}

#actionButton:active {
    filter: brightness(0.85);
    transform: scale(0.96);
    transition: 0.3s;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-7, .col-5 {
    padding-left: 0;
    padding-right: 0;
}


.image-container {
    height: 70%;
    perspective: 600px;

}

.image {
    width: auto;
    height: 100%;

    transition: transform 0.1s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 30px rgba(155, 48, 255, 0.05),
    0 0 45px rgba(52, 152, 219, 0.05);


    /*transition: transform 0.1s ease;*/
    /*transform-style: preserve-3d;*/

    /*box-shadow:*/
    /*        0 0 30px rgba(155, 48, 255, 0.02),*/
    /*        0 0 45px rgba(52, 152, 219, 0.02)*/
}

#midRight canvas {
    width: 100%;
    height: 100%;
    background: transparent;
    display: block;
}

#midRight {
    position: relative; /* This ensures the absolute positioning of child elements is relative to this container */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 0;
    margin: 0;
    background-image: url("../img/background-dots.png") !important;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 700px) {
    #midRight {
        display: none;
    }

    #midLeft {
        width: 100vw;
    }

    #linkHolder {
        display: none;
    }
}

.bracket-icon {
    position: absolute;
    color: #fff; /* Adjust the icon color as needed */
    font-size: 24px; /* Adjust the size of the icons */
}
.bracket-icon {
    position: absolute;
    color: #777777; /* Adjust the icon color as needed */
    font-size: 12px; /* Adjust the size of the icons if required */
}

.top-left {
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
}

.top-right {
    top: 10px;
    right: 10px;
    transform: rotate(315deg);
}

.bottom-left {
    bottom: 10px;
    left: 10px;
    transform: rotate(-45deg);
}

.bottom-right {
    bottom: 10px;
    right: 10px;
    transform: rotate(-315deg);
}

#linkHolder > div > a {
    transition: 0.3s;
}

#linkHolder > div > a:hover {
    transition: 0.3s;
    opacity: 0.7;
}